.next {
background: black;
width: 20px;
height:20px;
}
.App {
    display: block;
}
.lista {
    border: 2px solid color;
    display: flex;
    list-style: none;
    cursor: pointer;
    gap: 10px;
}

li{
    background: #F1889F;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    border: 2px solid pink;
    border-radius: 50%;
}
.buttonList {
    display: flex;
    justify-content: center;
}

.day {
gap: 50px;
display: flex;
justify-content: center;
height:500px;   

}

.arrow{
   
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    margin-top: 14px;
    margin-left: 20px;
}

.arrowreverse{
    transform: scaleX(-1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 20px;
}

.imgNextReverse{
  margin-top: 100px;
  height: 200px;
  width:200px;
  transform: scaleX(-1);
  cursor: pointer;
}

.imgNext{
    cursor: pointer;
    margin-top: 100px;
    height: 200px;
    width:200px;
  }